<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Grigoryeva Tatiana CV</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="mav-item active"><a class="nav-link" href="#">Main</a></li>
        <li class="mav-item"><a class="nav-link" href="#">Experience</a></li>
        <li class="mav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

