<style>
  .moderate-text {
    font-size: 20px;
    color: #1976d2;
  }
</style>

<div>
  <table class="table-striped" *ngFor="let item of responsibilities">
    <thead>
      <tr>
        <th class="col-md-3">
          <a (click)="onSelected(item)" class="moderate-text pointer">
            {{ item.companyName }}
          </a>
        </th>
        <th class="col-md-4">
          <a href="{{ item.urlAddress }}" class="small-text">click here to visit website</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-md-3">
          <p class="margin-from-left">.stack of technologies &#123;</p>
          <ul class="margin-from-left" *ngFor="let element of item.stack">
            <li>{{ element }};</li>
          </ul>
          <p class="margin-from-left">&#125;</p>
        </td>
        <td class="col-md-3">
          </td>
      </tr>
    </tbody>
  </table>
</div>

