<style>

.content {
    display: flex;
    flex-direction: column;
  }

  .small-text {
    font-size: 0.8rem;
  }

  .moderate-text {
    font-size: 1rem;
  }

  /* unvisited link */
  a:link {
    color: #1976d2;
  }

  /* visited link */
  a:visited {
    color: #1976d2;
  }

  /* mouse over link */
  a:hover {
    color: red;
  }

  /* selected link */
  a:active {
    color: #1976d2;
  }
  .margin-from-left {
    margin-left: 15px
  }
  .button-sm {
   display: flex;
   justify-content: flex-end;
   margin-top: 0px;
  }
  </style >

<div class="content">
  <table class="table-striped" *ngFor="let item of responsibilities">
    <thead>
      <tr>
        <th class="col-md-3">
          <a (click)="onSelected(item)" class="moderate-text pointer">
            {{ item.companyName }}
            <span class="caret"></span>
          </a>
        </th>
        <th class="col-md-4">
          <a href="{{ item.urlAddress }}" class="small-text">click here to visit website</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-md-3">
          <p class="margin-from-left">.stack of technologies &#123;</p>
          <ul class="margin-from-left" *ngFor="let element of item.stack">
            <li>{{ element }};</li>
          </ul>
          <p class="margin-from-left">&#125;</p>
        </td>
        <td class="col-md-3">
          </td>
      </tr>
    </tbody>
  </table>
</div>

